/*========================
font-family: 'proxima_nova_ltthin';
font-family: 'Proxima Nova';
font-family: 'proxima_nova_ltsemibold';
font-family: 'proxima_nova_altbold';
font-family: 'proxima_nova_altblack';

font-family: 'NautilusPompilius';

font-family: 'Montserrat', sans-serif;
==========================*/

*{	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.cols-1{width:8.33%;}
.cols-2{width:16.66%;}
.cols-3{width:25%;}
.cols-4{width:33.33%;}
.cols-5{width:41.66%;}
.cols-6{width:50%;}
.cols-7{width:85.33%;}
.cols-8{width:66.66%;}
.cols-9{width:75%;}
.cols-10{width:83.33%;}
.cols-11{width:91.66%;}
.cols-12{width:100%;}
html{
	scroll-behavior: smooth;
	font-size: 10px;
	box-sizing: border-box;
}
body{
	font-family: 'Proxima Nova', sans-serif;
}
.rtl{
	width: 100%;
}
.container{
	width: 80%;
	margin: 0 auto;
}
.clearfix:after{
	content: "";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
.padd{
	padding: 4% 0px;
}
ul{
	list-style-type: none;
	margin: 0
}
a{
	text-decoration: none;
	display: block;
	text-transform: uppercase;
	font-size: 1.4rem;
}
h2{
	font-weight: 700;
	margin: 0;
	font-size: 4rem;
}
h3,h4{
	font-weight: 600;	margin: 0;
}
p{
	font-size: 1.4rem;
	margin:0;
}
/*======== Base CSS End =======*/


/*======== HEADER START =======*/
/*- HEADER TOP -*/
header{
	background: linear-gradient(#00000045,#00000045), url("img/bg1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.header-top{
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
}
.header-top nav ul{
 	display: flex;
}
.header-top nav ul li{
	margin-right: 2rem;
}
.header-top nav ul li:last-child{
	margin-right: 0;
}
.header-top nav ul li a{
	font-family: 'Proxima Nova';
	color: #fff;
	padding: 2rem 0;
	font-size: 1.2rem;
	position: relative;
	transition: 0.2s ease;
}
.header-top nav ul li a:hover{
	font-weight: 700;
}
.header-top nav ul li a:hover:after{
	content: "";
	display: block;
	position: absolute;
	width:100%;
	height: 0.5rem;
	left: 0;
	top:0;
	background: #54d154;
	font-weight: 700;
	transition: 0.3s;
}
.header-top .logo{
	padding: 0px 11rem 0 0;
}
.header-top .logo a img{
    width: 9rem;
}
.header-top .search{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-basis: 20%;
	box-sizing: border-box;
	position: relative;
}
.header-top .search input[type="search"]{
	width: 100%;
    border: none;
    background: #ebe9e9b3;
    display: block;
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    border-radius: 2rem;
    font-size: 1.6rem;
}
.header-top .search input[type="search"]:focus{
	outline: 0;
}
.header-top .search i{
	position: absolute;
    font-size: 1.5rem;
    right: 0%;
    padding: 0 0.5rem 0 0.5rem;
    font-weight: 900;
    cursor: pointer;
}

/*- HEADER BOTTOM -*/
.header-bot-heading{
	padding: 16% 0 4% 0;
}
.header-bot .header-bot-heading h1{
	margin: 0;
    text-align: center;
    font-size: 5rem;
    color: #fff;
    font-family: 'proxima_nova_altbold';
}
.header-bot .header-bot-btn-1{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.header-bot .header-bot-btn-1 a{
	padding: 0.7rem 2rem;
    background: #54d154;
    font-family: 'Proxima Nova';
    font-size: 2rem;
    color: #fff;
    border-radius: 3rem;
    transition: 0.2s ease;
}
.header-bot .header-bot-btn-1 a:hover{
    background: #3c9e3c;
}
.header-bot .header-bot-btn-2{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 21% 0 2% 0;
}
.header-bot .header-bot-btn-2 a{
	padding: 0.5rem 1rem;
    background: #ffffff96;
    font-family: 'Proxima Nova';
    font-size: 1rem;
    color: #000;
    border-radius: 3rem;
}
.header-bot .header-bot-btn-2 a i{
	    padding: 0 0 0 0.7rem;
}
/*======== HEADER END =======*/

/*======== "WHAT WE DO" START =======*/
/*- WHAT WE DO TOP -*/
.whatwedo-top {
	padding: 0 0 7% 0;
}
.whatwedo-top h2{
	font-family: 'Montserrat', sans-serif;
    color: #828181;
    font-weight: 400;
    font-size: 3rem;
    text-align: center;
    position: relative;
    padding: 0 0 0.5rem 0;
    text-transform: uppercase;
}
.whatwedo-top h2::before{
	content: "";
    display: block;
    position: absolute;
    width: 5%;
    height: 0.23rem;
    background: #828181;
    bottom: 0;
    left: 48%;
}
.rtl .container .whatwedo-top p{
	font-family: 'Montserrat', sans-serif;
	color: #828181;
	font-weight: 400;
	text-align: center;
	padding: 1rem 0 0 0;
}

/*- WHAT WE DO BOTTOM -*/
.whatwedo-bot{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 0 0 0;
}
.whatwedo-bot .whatwedo-single{
	text-align: center;
}
.whatwedo-bot .whatwedo-single .img-wrap{
	width: 50%;
    height: 11rem;
    margin: 0 auto;
    background: #cde9cd;
    border-radius: 2rem;
}
.whatwedo-bot .whatwedo-single .img-wrap i{
	font-size: 8rem;
    color: #00da00;
    margin: 1.5rem 0 0 0;
}
.whatwedo-bot .whatwedo-single h3{
	font-family: 'proxima_nova_altbold';
    text-transform: capitalize;
    color: #828181;
    font-weight: 400;
    font-size: 2.2rem;
    padding: 0 0 0 0;
    margin: 2rem 0 1rem 0;
}
.whatwedo-bot .whatwedo-single p{
	font-family: 'Montserrat', sans-serif;
	color: #828181;
	font-weight: 400;
	text-align: center;
	padding: 1rem 0 2rem 0;
}
.whatwedo-bot .whatwedo-single a{
	padding: 0.7rem 1.8rem;
    background: #54d154;
    font-family: 'proxima_nova_ltsemibold';
    font-size: 1rem;
    color: #fff;
    border-radius: 3rem;
    display: inline-block;
    transition: 0.2s ease;
}
.whatwedo-bot .whatwedo-single a:hover{
	background: #22b922;
}
/*======== "WHAT WE DO" END =======*/

/*======== "OUR LATEST WORK" START =======*/
/*- OUR LATEST WORK TOP -*/
.olw-bg{
	background: #54d154;
}
.latestwork-top {
	padding: 0 0 7% 0;
}
.latestwork-top h2{
	font-family: 'Montserrat', sans-serif;
    color: #828181;
    font-weight: 400;
    font-size: 3rem;
    text-align: center;
    position: relative;
    padding: 0 0 0.5rem 0;
    text-transform: uppercase;
}
.latestwork-top h2::before{
	content: "";
    display: block;
    position: absolute;
    width: 5%;
    height: 0.23rem;
    background: #828181;
    bottom: 0;
    left: 48%;
}
.latestwork-top p{
	font-family: 'Montserrat', sans-serif;
	color: #828181;
	font-weight: 400;
	text-align: center;
	padding: 1rem 0 0 0;
}

/*- OUR LATEST WORK MIDDLE -*/
.latestwork-middle ul{
	display: flex;
    align-items: center;
    justify-content: center;
}
.latestwork-middle ul li{
    
}
.latestwork-middle ul li a{
    color: #2b9b2b;
    font-family: 'Proxima Nova';
    padding: 1rem 2rem;
    background: #ffffff;
    border: 0.1rem solid #2b9b2b;
}
.latestwork-middle ul li a:hover{
	background: #2b9b2b;
	color: #fff;
}
.latestwork-middle ul li a:focus{
	background: #2b9b2b;
	color: #fff;
}
.latestwork-middle ul li:first-child a{
    border-right:  0.1rem solid #2b9b2b;
    border-radius:2rem 0 0 2rem;
}
.latestwork-middle ul li:nth-child(2) a{
    border-right:  0.1rem solid #2b9b2b;
    border-left: none;
}
.latestwork-middle ul li:last-child a{
    border-left: none;
    border-radius:0 2rem 2rem 0;
}

/*- OUR LATEST WORK IMAGE GRID -*/
.latestwork-middle-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5% 5%;
}
.latestwork-middle-grid img{
	margin: 2rem 0 0 0;
    width: 18.2%;
    border-radius: 0.7rem;
}

/*- OUR LATEST WORK BOTTOM -*/
.latestwork-bot{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.latestwork-bot a{
	padding: 1.4rem 1.8rem 1rem 1.8rem;
    background: #2b9b2b;
    font-family: 'Proxima Nova';
    font-size: 1.4rem;
    color: #fff;
    border-radius: 3rem;
    display: inline-block;
    transition: 0.2s ease;
}
.latestwork-bot a:hover{
    background: #22b922;
}
.latestwork-bot a i{
	padding: 0 0 0 0.7rem;
}
/*======== "OUR LATEST WORK" END =======*/

/*======== TESTIMONIAL START =======*/
/*- TESTIMONIAL TOP -*/
.testimonial-top h2{
	font-family: 'Montserrat', sans-serif;
    color: #828181;
    font-weight: 400;
    font-size: 3rem;
    text-align: center;
    position: relative;
    padding: 0 0 0.5rem 0;
    text-transform: uppercase;
}
.testimonial-top h2::before{
	content: "";
    display: block;
    position: absolute;
    width: 5%;
    height: 0.23rem;
    background: #828181;
    bottom: 0;
    left: 48%;
}
.testimonial-top p{
	font-family: 'Montserrat', sans-serif;
	color: #828181;
	font-weight: 400;
	text-align: center;
	padding: 1rem 0 0 0;
}

/*- TESTIMONIAL BOT -*/
.testimonial-bot{
	padding: 5% 24% 0 24%;
}
.testimonial-bot>P{
	font-family: 'proxima_nova_ltsemibold';
	font-size: 1.4rem;
	text-align: center;
	color:#444444;
}
.testimonial-bot-in{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 5% 27% 5% 33%;
}
.testimonial-bot-img-wrap{
	flex-basis: 28%;
}
.testimonial-bot-img-wrap img{
	width: 100%;
    border: 0.1rem solid #b9b5b5;
    border-radius: 50%;
    display: block;
}
.testimonial-bot-id-wrap{
	padding: 0 0 0 9%;
}
.testimonial-bot-id-wrap h3{
	color: #444444;
    font-size: 2rem;
    padding: 0 0 0.7rem 0;
}
.testimonial-bot-id-wrap p{
    color: #807d7d;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}
/*======== TESTIMONIAL END =======*/

/*======== HAPPY CLIENT START =======*/
/*- OUR HAPPY CLIENT TOP -*/
.happy-client-top h2{
	font-family: 'Montserrat', sans-serif;
    color: #828181;
    font-weight: 400;
    font-size: 3rem;
    text-align: center;
    position: relative;
    padding: 0 0 0.5rem 0;
    text-transform: uppercase;
}
.happy-client-top h2::before{
	content: "";
    display: block;
    position: absolute;
    width: 5%;
    height: 0.23rem;
    background: #828181;
    bottom: 0;
    left: 48%;
}
.happy-client-top p{
	font-family: 'Montserrat', sans-serif;
	color: #828181;
	font-weight: 400;
	text-align: center;
	padding: 1rem 0 0 0;
}

/*- HAPPY CLIENT BOTTOM -*/
.happy-client-bot{
	display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    grid-gap: 10% 10%;
    padding: 5% 6%;
}
.happy-client-bot .apple img{
	display: block;
	margin: 0 auto;
}

/*- BUTTON OF HAPPPY CLIENT -*/
.happy-client-btn{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5% 0 0 0;
}
.happy-client-btn a{
	padding: 1.4rem 1.8rem 1rem 1.8rem;
    background: #dddcdc;
    font-family: 'Proxima Nova';
    font-size: 1.4rem;
    color: #a59d9d;
    border-radius: 3rem;
    display: inline-block;
    transition: 0.2s ease;
}
.happy-client-btn a:hover{
    background: #c1bbbb;
    color: #fff;
}
.happy-client-btn a i{
	padding: 0 0 0 0.7rem;
}
/*======== HAPPY CLIENT END =======*/

/*======== MEAT THE TEAM START =======*/
/*- MEAT THE TEAM TOP -*/
.team-bg{
	background: #54d154;
}
.team-top h2{
	font-family: 'Montserrat', sans-serif;
    color: #828181;
    font-weight: 400;
    font-size: 3rem;
    text-align: center;
    position: relative;
    padding: 0 0 0.5rem 0;
    text-transform: uppercase;
}
.team-top h2::before{
	content: "";
    display: block;
    position: absolute;
    width: 5%;
    height: 0.23rem;
    background: #828181;
    bottom: 0;
    left: 48%;
}
.team-top p{
	font-family: 'Montserrat', sans-serif;
	color: #828181;
	font-weight: 400;
	text-align: center;
	padding: 1rem 0 0 0;
}

/*- OUR HAPPY CLIENT BOTTOM -*/
.team-bot{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5% 10% 0 10%;
}
.team-bot-single{
	position: relative;
}
.team-bot-img{
	width: 95%;
    margin: 0 auto;
}
.team-bot-img::after{
	content: "";
    display: block;
    width: 65%;
    height: 0.2rem;
    position: absolute;
    bottom: 42%;
    left: 17%;
    background: #207b20;
    transform: rotate(90deg);
}
.team-bot-img img{
	width: 100%;
    border-radius: 50%;
}
.team-bot-single p{
	font-family: 'proxima_nova_ltsemibold';
    font-size: 1.6rem;
    color: #ffffff;
    text-align: center;
    margin: 86% 0 0 0;
}
.team-icon{
	margin: 1rem auto;
    width: 86%;
    padding: 2% 2%;
    border-radius: 7rem;
    background: #c5e9c5d9;
    display: flex;
    justify-content: space-between;
}
.team-icon a:first-child i{
	color: #e6e7e6;
    background: #931ca9;
    padding: 0.6rem 0.7rem 0.6rem 0.65rem;
    font-size: 1.7rem;
    border-radius: 50%;
}
.team-icon a:nth-child(2) i{
	color: #e6e7e6;
    background: #008eff;
    padding: 0.74rem 1rem;
    font-size: 1.5rem;
    border-radius: 50%;
}
.team-icon a:last-child i{
	color: #e6e7e6;
    background: #00b9ff;
    padding: 0.8rem 0.7rem 0.753rem 0.8rem;
    font-size: 1.4rem;
    border-radius: 50%;
}
/*======== MEAT THE TEAM END =======*/

/*======== "BUTTON UNDER MEET WITH US" START =======*/
.team-under-bg{
	background: #3eba3e;
}
.padd-custom{
	padding: 2% 0;
}
.under-team-btn{
	display: flex;
    flex-direction: column;
    align-items: center;
}
.under-team-btn a{
	padding: 1.2rem 2rem 1rem 2rem;
    background: #54d154;
    font-family: 'Proxima Nova';
    font-size: 1.4rem;
    color: #fff;
    border-radius: 3rem;
    display: inline-block;
    transition: 0.2s ease;
    box-shadow: -0.3rem 1rem 1rem 0.1rem #17af1d;
}
.under-team-btn a:hover{
    background: #2b9b2b;
}
/*======== "BUTTON UNDER MEET WITH US" END =======*/

/*======== ABOUT, RECENT, CONTUCT START =======*/
/*- ABOUT US -*/
.arc-bg{
	background: #333333;
	color: #dddddd;
}
.arc-wrap{
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 10%;
	color: #dddddd;
}
.arc-h3{
	font-family: 'Montserrat', sans-serif;
    color: #dddddd;
    font-weight: 500;
    font-size: 1.9rem;
    text-align: center;
    position: relative;
    padding: 0 0 1rem 0;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}
.arc-h3::before{
	content: "";
    display: block;
    position: absolute;
    width: 13%;
    height: 0.2rem;
    background: #dddddd;
    bottom: 0.2rem;
    left: 44%;
}
.arc-p{
	font-family: 'Montserrat', sans-serif;
    color: #dddddd;
    font-weight: 400;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 2rem 0 0 0;
}
.about-icon{
	margin: 2rem auto;
    width: 44%;
    padding: 1.5% 1.8%;
    border-radius: 7rem;
    background: #e6e7e6;
    display: flex;
    justify-content: space-between;
}
.about-icon a:first-child i{
	color: #e6e7e6;
    background: #931ca9;
    padding: 0.6rem 0.7rem 0.6rem 0.65rem;
    font-size: 1.7rem;
    border-radius: 50%;
}
.about-icon a:nth-child(2) i{
	color: #e6e7e6;
    background: #008eff;
    padding: 0.74rem 1rem;
    font-size: 1.5rem;
    border-radius: 50%;
}
.about-icon a:last-child i{
	color: #e6e7e6;
    background: #00b9ff;
    padding: 0.8rem 0.7rem 0.753rem 0.8rem;
    font-size: 1.4rem;
    border-radius: 50%;
}

/*- RECENT POSTS -*/
.recent-article-wrap{
	padding: 2.3rem 0 0 0;
}
.recent-article-wrap .recent-article-single{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 7%;
}
.recent-article-single .recent-article-img{
	width:20%;
}
.recent-article-single .recent-article-img img{
	width:100%;
    border-radius: 10%;
}
.recent-article-single .recent-article-content p{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	text-transform: capitalize;
}
.recent-article-single .recent-article-content a{
	font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.1rem;
    color: #f5fafe;
    display: inline-block;
    padding: 0.3rem 0.2rem 0.2rem 0.2rem;
    background: #54d154;
    border-radius: 0.3rem;
}
.recent-article-single:nth-child(2) .recent-article-content a{background: #ffba00;}
.recent-article-single:nth-child(3) .recent-article-content a{background: #089dea;}
.recent-article-single:nth-child(4) .recent-article-content a{background: #f34d04;}
.recent-article-single:nth-child(5) .recent-article-content a{background: #ffba00;}
.recent-article-content p{
	margin-bottom: 3%;
}
/*- CONTUCT -*/
.contuct-p-wrap{
	padding: 2rem 0 0 0;
}
.contuct p{
	padding: 0;
	font-size: 1.2rem;
}
.form-wrap{
	font-family: 'Proxima Nova';
	    padding: 9% 0 0 0;
}
input[type='text']{
	display: block;
    width: 100%;
    background: #444444;
    border: none;
    padding: 2% 4%;
    font-size: 1.6rem;
    color: #dddddd;
    border-radius: 0.5rem 0.5rem 0 0;
    margin: 0 0 1% 0;
    box-sizing: border-box;
}
input[type='text']:focus{
	outline: none;
}
input[type='email']{
	display: block;
    width: 100%;
    background: #444444;
    border: none;
    padding: 2% 4%;
    font-size: 1.6rem;
    color: #dddddd;
    margin: 0 0 1% 0;
    box-sizing: border-box;
}
input[type='email']:focus{
	outline: none;
}
textarea{
	display: block;
    width: 100%;
    background: #444444;
    border: none;
    padding: 2% 4%;
    font-size: 1.6rem;
    color: #dddddd;
    margin: 0 0 1% 0;
    box-sizing: border-box;
}
textarea:focus{
	outline: none;
}
input[type='submit']{
	display: block;
    width: 100%;
    background: #2b9b2b;
    border: none;
    padding: 2% 4%;
    font-size: 1.2rem;
    color: #ffffff;
    border-radius: 0 0 0.5rem 0.5rem;
    box-sizing: border-box;
}
input[type='submit']:hover{
	background: #06d006;
}
input[type='submit']:focus{
	outline: none;
}
label{
	display: block;
}
/*======== ABOUT, RECENT, CONTUCT END =======*/

/*======== CHANNEL START =======*/
.channel-bg{
	background: #222222;
}
.channel-wrap .channel-headding .arc-h3{
	color:#676262;

}
.channel-wrap .channel-headding .arc-h3:before{
	background: #676262;
    display: block;
    position: absolute;
    width: 5%;
    height: 0.2rem;
    bottom: 0.2rem;
    left: 47.3%;
}
.channel-img-wrap{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 3% 0 0 0;
}
/*======== CHANNEL END =======*/

/*======== FOOTER START =======*/
.footer-bg{
	background: #111111;
}
.padd-footer{
	padding: 1% 0;
}
p{
	color:#f1f1f163;
	text-align: center;
}
/*======== FOOTER END =======
/*==============================================
================================================
================================================
============   HERE OUR PROJECT END!  ==========
============                          ==========
============   DATE: 26/07/2020       ==========
============                          ==========
============   MIZANUR RAHMAN FAHAD   ==========
================================================
================================================
==============================================*/